{{#products}}
<div class="product">
    <div>
        <div class="photo">
            <img class="{{imageClass}}" src="{{imagePath}}" alt=""
                 onerror="this.onerror=null;this.src='./images/logo.svg';this.classList.add('placeholder-image')"
                 onclick="showImageDetailForm(`{{name}}`,'{{detailImagePath}}')"
            >
        </div>
        <div class="product-info">
            <h4>{{name}}</h4>
            <h4 class="price">${{price}}</h4>
        </div>
        <div>
            <p>{{description}}</p>
        </div>

    </div>
    <div class="add-button">
        <button class="btn btn-success" onclick="cartService.addToCart({{productId}})">Add to Cart</button>
    </div>
</div>
{{/products}}
